<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>267731862765-ifb1rolk435sichrpq777dsbge068v1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267731862765-ifb1rolk435sichrpq777dsbge068v1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAH1uRyZjd0A_t7TOquIpMrS05dtwfQF3I</string>
	<key>GCM_SENDER_ID</key>
	<string>267731862765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bridgelabz.IPL</string>
	<key>PROJECT_ID</key>
	<string>iplproject-5be6e</string>
	<key>STORAGE_BUCKET</key>
	<string>iplproject-5be6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:267731862765:ios:ad20a71c2ed27e0f</string>
	<key>DATABASE_URL</key>
	<string>https://iplproject-5be6e.firebaseio.com</string>
</dict>
</plist>